.chititphim-nvcc-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.chititphim-nvcc-chititphim-nvcc {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}
.chititphim-nvcc-bg {
    top: 110px;
    left: -17px;
    width: 1441px;
    height: 750px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.chititphim-nvcc-bgphim {
    top: 208.71994018554688px;
    left: 0px;
    width: 1440px;
    height: 409px;
    position: absolute;
}
.chititphim-nvcc-bgphim1 {
    top: 567.441650390625px;
    left: 1px;
    width: 1440px;
    height: 183px;
    position: absolute;
}
.chititphim-nvcc-bgphim2 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 215px;
    position: absolute;
}
.chititphim-nvcc-footer {
    top: 805px;
    left: -17px;
    width: 1478px;
    height: 214px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.chititphim-nvcc-rectangle34 {
    top: 0px;
    left: 18px;
    width: 1440px;
    height: 214px;
    position: absolute;
}
.chititphim-nvcc-text {
    top: 39.83721923828125px;
    left: 156px;
    color: rgba(26, 38, 52, 1);
    width: 1130px;
    height: auto;
    position: absolute;
    font-size: 22px;
    text-align: center;
    font-family: Nunito;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text01 {
    font-weight: 700;
}
.chititphim-nvcc-image29 {
    top: 71px;
    left: 274px;
    width: 32px;
    height: 32px;
    position: absolute;
}
.chititphim-nvcc-image30 {
    top: 113px;
    left: 569px;
    width: 28px;
    height: 28px;
    position: absolute;
}
.chititphim-nvcc-image31 {
    top: 151px;
    left: 554px;
    width: 32px;
    height: 26px;
    position: absolute;
}
.chititphim-nvcc-image6 {
    top: 24px;
    left: 0px;
    width: 248px;
    height: 164px;
    position: absolute;
}
.chititphim-nvcc-image32 {
    top: 23.63953399658203px;
    left: 1234px;
    width: 248px;
    height: 153px;
    position: absolute;
}
.chititphim-nvcc-line9 {
    top: 0.6220930218696594px;
    left: 18px;
    width: 1440px;
    height: 1px;
    position: absolute;
}
.chititphim-nvcc-group10 {
    top: 207px;
    left: 104px;
    width: 1224px;
    height: 568px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 163, 60, 1);
}
.chititphim-nvcc-text11 {
    top: 26px;
    left: 396px;
    color: rgba(255, 255, 255, 1);
    width: 751px;
    height: auto;
    position: absolute;
    font-size: 44px;
    text-align: left;
    font-family: Nunito;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-line4 {
    top: 185px;
    left: 402px;
    width: 786px;
    height: 1px;
    position: absolute;
}
.chititphim-nvcc-line5 {
    top: 296px;
    left: 401px;
    width: 786px;
    height: 1px;
    position: absolute;
}
.chititphim-nvcc-image21 {
    top: 25px;
    left: 12px;
    width: 348px;
    height: 518px;
    position: absolute;
}
.chititphim-nvcc-rectangle11 {
    top: 26px;
    left: 1091px;
    width: 78px;
    height: 58px;
    position: absolute;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 11px;
}
.chititphim-nvcc-text13 {
    top: 36.052978515625px;
    left: 1101.596923828125px;
    color: rgba(255, 255, 255, 1);
    width: 58px;
    height: auto;
    position: absolute;
    font-size: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    text-align: center;
    font-family: Nunito;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text15 {
    top: 269px;
    left: 402px;
    color: rgba(255, 255, 255, 1);
    width: 786px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-family: Nunito;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text17 {
    top: 107px;
    left: 406px;
    color: rgba(255, 255, 255, 1);
    width: 782px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-family: Nunito;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-loiphim {
    top: 121px;
    left: 226px;
    width: 956px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.chititphim-nvcc-rectangle7 {
    top: 0px;
    left: 0px;
    width: 311px;
    height: 62px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.chititphim-nvcc-rectangle9 {
    top: 0px;
    left: 322px;
    width: 311px;
    height: 62px;
    position: absolute;
}
.chititphim-nvcc-rectangle8 {
    top: 0px;
    left: 645px;
    width: 311px;
    height: 62px;
    position: absolute;
}
.chititphim-nvcc-text28 {
    top: 19px;
    left: 9px;
    color: rgba(255, 255, 255, 1);
    width: 295px;
    height: auto;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text30 {
    top: 19px;
    left: 328px;
    color: rgba(255, 255, 255, 1);
    width: 299px;
    height: auto;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text32 {
    top: 19px;
    left: 652px;
    color: rgba(255, 255, 255, 1);
    width: 298px;
    height: auto;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-headerphim2 {
    top: -2px;
    left: 4px;
    width: 1450px;
    height: 107px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.chititphim-nvcc-headerphim {
    top: 0px;
    left: 0px;
    width: 1450px;
    height: 107px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
.chititphim-nvcc-rectangle3 {
    top: 3px;
    left: 10px;
    width: 1440px;
    height: 95px;
    position: absolute;
}
.chititphim-nvcc-image61 {
    top: 0px;
    left: 0px;
    width: 215px;
    height: 107px;
    position: absolute;
}
.chititphim-nvcc-group2 {
    top: 40px;
    left: 158px;
    width: 667px;
    height: 28px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.chititphim-nvcc-text34 {
    left: 461px;
    color: rgba(69, 71, 75, 1);
    width: 206px;
    height: auto;
    position: absolute;
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text36 {
    left: 192px;
    color: rgba(69, 71, 75, 1);
    width: 168px;
    height: auto;
    position: absolute;
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text38 {
    left: 366px;
    color: rgba(69, 71, 75, 1);
    width: 134px;
    height: auto;
    position: absolute;
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-text40 {
    color: rgba(69, 71, 75, 1);
    width: 206px;
    height: auto;
    position: absolute;
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-tmkim {
    top: 30px;
    left: 1037px;
    width: 281px;
    height: 43px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.chititphim-nvcc-ellipse2 {
    top: 11px;
    left: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    border-color: rgba(119, 107, 93, 1);
    border-style: solid;
    border-width: 1px;
}
.chititphim-nvcc-line15 {
    top: 27px;
    left: 38px;
    width: 10px;
    height: 1px;
    position: absolute;
}
.chititphim-nvcc-text42 {
    top: 8px;
    left: 66px;
    color: rgba(119, 107, 93, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.chititphim-nvcc-user {
    top: 27px;
    left: 1361px;
    width: 49px;
    height: 49px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.chititphim-nvcc-image43 {
    top: 0px;
    left: 0px;
    width: 49px;
    height: 49px;
    position: absolute;
}
.chititphim-nvcc-ellipse3 {
    top: 0px;
    left: 0px;
    width: 49px;
    height: 49px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
}
.chititphim-nvcc-group53 {
    top: 688px;
    left: 1116px;
    width: 176px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(217, 136, 185, 1);
}
.chititphim-nvcc-text44 {
    top: 17px;
    left: 6px;
    color: rgba(255, 255, 255, 1);
    width: 164px;
    height: auto;
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
